.questions-container {
  margin: 5vh;
}

.cards-container {
  height: 70vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.place-holder {
  height: 70vh;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 34%;
}

.number {
  color: #00ABFF;
  font-weight: bold;
  font-size: 24px;
}

.problem-type {
  color: #9F9F9F;
  font-weight: bold;
  font-size: 14px;
}

.unit-name {
  color: #4C4C4C;
  font-size: 14px;
}

#toggle-on {
  background-color: #00ABFF !important;
  color: white !important;
  font-weight: bold !important;
}

#no-toggle {
  background-color: white !important;
  color: #00ABFF !important;
  font-weight: bold !important;
  border: 1px solid #E0E0E0 !important;
}
